//-
    name: checkout
    description: Markup for the checkout page block
    arguments:
        - {object} props - block properties
        - {object} prps.order - order details

mixin checkout(props)
    form(action="#" method="post").checkout.form&attributes(attributes)
        .checkout__customer-details
            .checkout__section
                .checkout__section-inner
                    .checkout__section-header
                        h2.checkout__section-title Billing address
                    // .checkout__section-header 

                    .checkout__fields-wrap
                        .form__fields
                            .form__field.form__field_wide
                                label(
                                    for="billing-country"
                                    id="label-billing-country"
                                ).form__label.form__label_visible Country*
                                select(
                                    id="billing-country"
                                    name="billing_country"
                                    aria-labelledby="label-billing-country"
                                ).checkout__select
                                    option(value="uk") United Kingdom (UK)
                            // .form__field 
                            
                            .form__field
                                label(
                                    for="billing-first-name"
                                    id="label-billing-first-name"
                                ).form__label.form__label_visible First Name*
                                +input({theme: 'checkout'})(
                                    type="text"
                                    id="billing-first-name"
                                    name="billing_first_name"
                                    aria-labelledby="label-billing-first-name"
                                    required
                                ).form__input
                            // .form__field 

                            .form__field
                                label(
                                    for="billing-last-name"
                                    id="label-billing-last-name"
                                ).form__label.form__label_visible Last Name*
                                +input({theme: 'checkout'})(
                                    type="text"
                                    id="billing-last-name"
                                    name="billing_last_name"
                                    aria-labelledby="label-billing-last-name"
                                    required
                                ).form__input
                            // .form__field 

                            .form__field.form__field_wide
                                label(
                                    for="billing-company"
                                    id="label-billing-company"
                                ).form__label.form__label_visible Company Name
                                +input({theme: 'checkout'})(
                                    type="text"
                                    id="billing-company"
                                    name="billing_company"
                                    aria-labelledby="label-billing-company"
                                ).form__input
                            // .form__field 

                            .form__field.form__field_wide
                                label(
                                    for="billing-address1"
                                    id="label-billing-address1"
                                ).form__label.form__label_visible Address*
                                +input({theme: 'checkout'})(
                                    type="text"
                                    id="billing-address1"
                                    name="billing_address1"
                                    aria-labelledby="label-billing-address1"
                                    placeholder="Street address"
                                    required
                                ).form__input
                                +input({theme: 'checkout'})(
                                    type="text"
                                    id="billing-address2"
                                    name="billing_address2"
                                    aria-label="Apartment, Suite, Unite etc. (optional)"
                                    placeholder="Apartment, Suite, Unite etc. (optional)"
                                ).form__input
                            // .form__field 

                            .form__field.form__field_wide
                                label(
                                    for="billing-city"
                                    id="label-billing-city"
                                ).form__label.form__label_visible Town / City*
                                +input({theme: 'checkout'})(
                                    type="text"
                                    id="billing-city"
                                    name="billing_city"
                                    aria-labelledby="label-billing-city"
                                    placeholder="Town / City"
                                    required
                                ).form__input
                            // .form__field 

                            .form__field
                                label(
                                    for="billing-county"
                                    id="label-billing-county"
                                ).form__label.form__label_visible County
                                +input({theme: 'checkout'})(
                                    type="text"
                                    id="billing-county"
                                    name="billing_county"
                                    aria-labelledby="label-billing-county"
                                ).form__input
                            // .form__field 

                            .form__field
                                label(
                                    for="billing-postcode"
                                    id="label-billing-postcode"
                                ).form__label.form__label_visible Postcode*
                                +input({theme: 'checkout'})(
                                    type="text"
                                    id="billing-postcode"
                                    name="billing_postcode"
                                    aria-labelledby="label-billing-postcode"
                                    placeholder="Postcode"
                                    required
                                ).form__input
                            // .form__field 

                            .form__field
                                label(
                                    for="billing-email"
                                    id="label-billing-email"
                                ).form__label.form__label_visible Email address*
                                +input({theme: 'checkout'})(
                                    type="email"
                                    id="billing-email"
                                    name="billing_email"
                                    aria-labelledby="label-billing-email"
                                    required
                                ).form__input
                            // .form__field 
                            
                            .form__field
                                label(
                                    for="billing-phone"
                                    id="label-billing-phone"
                                ).form__label.form__label_visible Phone*
                                +input({theme: 'checkout'})(
                                    type="tel"
                                    id="billing-phone"
                                    name="billing_phone"
                                    aria-labelledby="label-billing-phone"
                                    required
                                ).form__input
                            // .form__field 
                        // .form__fields 

                        .checkout__account-header
                            +checkbox({
                                name: 'create_account',
                                value: 1,
                                id: 'create-account',
                                labelledBy: 'label-create-account',
                            })(data-toggle="account-fields").checkout__checkbox
                            label(
                                id="label-create-account"
                                for="create-account"
                            ).checkout__check-label Create an account?
                        // .checkout__account-checkbox 

                        .checkout__account-fields#account-fields
                            .rich-text.checkout__account-text
                                p Create an account by entering the information below. If you are a returning customer please login at the top of the page.

                            .form__fields
                                .form__field.form__field_wide
                                    label(
                                        for="account-password"
                                        id="label-account-password"
                                    ).form__label.form__label_visible Account Password*
                                    +input({theme: 'checkout'})(
                                        type="password"
                                        id="account-password"
                                        name="account-password"
                                        aria-labelledby="label-account-password"
                                        placeholder="Password"
                                        required
                                    ).form__input
                                // .form__field 
                            // .form__fields 
                        // .checkout__fields 
                    // .checkout__fields-wrap 
                // .checkout__section__inner 
            // .checkout__section 

            .checkout__section
                .checkout__section-inner
                    .checkout__section-header
                        h2.checkout__section-title Shipping address

                        +checkbox({
                            name: 'ship_to_different_address',
                            value: 1,
                            id: 'ship-to-different-address',
                            labelledBy: 'label-ship-to-different-address'
                        })(
                            data-toggle="shipping-fields"
                        ).checkout__checkbox.checkout__shipping-checkbox
                        label(
                            id="label-ship-to-different-address"
                            for="ship-to-different-address"
                        ).checkout__check-label Ship to a different address?
                    // .checkout__section-header 

                    .checkout__fields-wrap
                        .form__fields#shipping-fields
                            .form__field.form__field_wide
                                label(
                                    for="shipping-country"
                                    id="label-shipping-country"
                                ).form__label.form__label_visible Country*
                                select(
                                    id="shipping-country"
                                    name="shipping_country"
                                    aria-labelledby="label-shipping-country"
                                ).checkout__select
                                    option(value="uk") United Kingdom (UK)
                            // .form__field 
                            
                            .form__field
                                label(
                                    for="shipping-first-name"
                                    id="label-shipping-first-name"
                                ).form__label.form__label_visible First Name*
                                +input({theme: 'checkout'})(
                                    type="text"
                                    id="shipping-first-name"
                                    name="shipping_first_name"
                                    aria-labelledby="label-shipping-first-name"
                                    required
                                ).form__input
                            // .form__field 

                            .form__field
                                label(
                                    for="shipping-last-name"
                                    id="label-shipping-last-name"
                                ).form__label.form__label_visible Last Name*
                                +input({theme: 'checkout'})(
                                    type="text"
                                    id="shipping-last-name"
                                    name="shipping_last_name"
                                    aria-labelledby="label-shipping-last-name"
                                    required
                                ).form__input
                            // .form__field 

                            .form__field.form__field_wide
                                label(
                                    for="shipping-company"
                                    id="label-shipping-company"
                                ).form__label.form__label_visible Company Name
                                +input({theme: 'checkout'})(
                                    type="text"
                                    id="shipping-company"
                                    name="shipping_company"
                                    aria-labelledby="label-shipping-company"
                                ).form__input
                            // .form__field 

                            .form__field.form__field_wide
                                label(
                                    for="shipping-address1"
                                    id="label-shipping-address1"
                                ).form__label.form__label_visible Address*
                                +input({theme: 'checkout'})(
                                    type="text"
                                    id="shipping-address1"
                                    name="shipping_address1"
                                    aria-labelledby="label-shipping-address1"
                                    placeholder="Street address"
                                    required
                                ).form__input
                                +input({theme: 'checkout'})(
                                    type="text"
                                    id="shipping-address2"
                                    name="shipping_address2"
                                    aria-label="Apartment, Suite, Unite etc. (optional)"
                                    placeholder="Apartment, Suite, Unite etc. (optional)"
                                ).form__input
                            // .form__field 

                            .form__field.form__field_wide
                                label(
                                    for="shipping-city"
                                    id="label-shipping-city"
                                ).form__label.form__label_visible Town / City*
                                +input({theme: 'checkout'})(
                                    type="text"
                                    id="shipping-city"
                                    name="shipping_city"
                                    aria-labelledby="label-shipping-city"
                                    placeholder="Town / City"
                                    required
                                ).form__input
                            // .form__field 

                            .form__field
                                label(
                                    for="shipping-county"
                                    id="label-shipping-county"
                                ).form__label.form__label_visible County
                                +input({theme: 'checkout'})(
                                    type="text"
                                    id="shipping-county"
                                    name="shipping_county"
                                    aria-labelledby="label-shipping-county"
                                ).form__input
                            // .form__field 

                            .form__field
                                label(
                                    for="shipping-postcode"
                                    id="label-shipping-postcode"
                                ).form__label.form__label_visible Postcode*
                                +input({theme: 'checkout'})(
                                    type="text"
                                    id="shipping-postcode"
                                    name="shipping_postcode"
                                    aria-labelledby="label-shipping-postcode"
                                    placeholder="Postcode"
                                    required
                                ).form__input
                            // .form__field 
                        // .form__fields 

                        .form__fields
                            .form__field.form__field_wide
                                label(
                                    for="shipping-notes"
                                    id="label-shipping-notes"
                                ).form__label.form__label_visible Order notes
                                +text-area({theme: 'checkout'})(
                                    id="shipping-notes"
                                    name="shipping_notes"
                                    aria-labelledby="label-shipping-notes"
                                    placeholder="Notes about you order, e.g. special notes for delivery."
                                ).form__input
                            // .form__field 
                        // .form__fields 
                    // .checkout__fields-wrap 
                // .checkout__section__inner 
            // .checkout__section 
        // .checkout__customer-details 

        .checkout__section
            .checkout__section-inner
                .checkout__section-heading
                    h2.checkout__section-title Your order
                // .checkout__section-heading 

                .checkout__order
                    +checkout-order(props.order)
                // .checkout__order 
            // .checkout__section__inner 
        // .checkout__section 

        .checkout__payment
            +payments()
        // .checkout__payment 

        .checkout__place-order
            +btn({title: 'Place order'}, 'submit').checkout__order-btn(
                name="place_order"
                value="Place order"
            )
        // .checkout__place-order 
