mixin article(props = {})
    article.article&attributes(attributes)
        header.article__header
            ul.article__cats
                each category in props.categories
                    li.article__cat-item
                        a(href="javascript:void(0);").article__cat-link
                            | #{category}

            h2.article__title
                if props.link
                    a(href=props.link).article__title-link= props.title
                else
                    | #{props.title}

            time(datetime=props.date).article__pubdate
                = moment(props.date).format('MMMM D, YYYY')
        // .article__header 

        .article__content
            if props.image
                -
                    const jpegSrcSet =
                        props.image + '-small.jpg 480w, ' +
                        props.image + '-medium.jpg 768w, ' +
                        props.image + '-large.jpg 1152w, ' +
                        props.image + '-xlarge.jpg 1536w';
                    const webpSrcSet =
                        props.image + '-small.webp 480w, ' +
                        props.image + '-medium.webp 768w, ' +
                        props.image + '-large.webp 1152w, ' +
                        props.image + '-xlarge.webp 1536w';
                    const sizes = '(min-width: 992px) 700px, calc(100vw - 20px)';
                if (props.link)
                    a(
                        href=props.link
                        aria-hidden="true"
                        tabindex="-1"
                    )
                        picture
                            source(
                                srcset=webpSrcSet
                                type="image/webp"
                                sizes=sizes
                            )
                            source(
                                srcset=jpegSrcSet
                                type="image/jpeg"
                                sizes=sizes
                            )
                            img(
                                src=`${props.image}-medium.jpg`
                                alt=props.title
                            ).article__image
                else
                    picture
                        source(
                            srcset=webpSrcSet
                            type="image/webp"
                            sizes=sizes
                        )
                        source(
                            srcset=jpegSrcSet
                            type="image/jpeg"
                            sizes=sizes
                        )
                        img(
                            src=`${props.image}-medium.jpg`
                            alt=props.title
                        ).article__image
            else if props.video
                +video(props.video).article__video
            else if props.carousel
                +blog-carousel({ slides: props.carousel }).article__carousel

            .rich-text.article__text !{props.content}
            // .article__text 

            if props.link
                a(href=props.link).article__link Continue Reading...
        // .article__content 

        if props.tags || props.author || props.relatedPosts || props.comments
            footer.article__footer
                .article__footer-top
                    if props.tags
                        +article-tags({ tags: props.tags }).article__tags

                    +share().article__share
                // .article__footer-top 
                
                if props.author
                    .article__author
                        +article-author(props.author)
                
                if props.relatedPosts
                    section.article__footer-section
                        h3.title.article__footer-section-title Read more
                        +related-posts({
                            posts: props.relatedPosts
                        }).article__related-posts
                    // .article__footer-section 

                if props.comments
                    section.article__footer-section
                        h3.title.article__footer-section-title
                            | #{props.comments.total} comments
                        +comments(props.comments).article__comments
                    // .article__footer-section 

                    section.article__footer-section#comment-form
                        h3.title.article__footer-section-title Leave a reply
                        +comment-form().article__comment-form
                    // .article__footer-section 
            // .article__footer 
    // .article 
