mixin article(data)
    article.article&attributes(attributes)
        header.article__header
            ul.article__cats
                each category in data.categories
                    li.article__cat-item
                        a(href="javascript:void(0);").article__cat-link
                            | #{category}

            h2.article__title
                if data.link
                    a(href=data.link).article__title-link= data.title
                else
                    | #{data.title}

            time(datetime=data.date).article__pubdate= blogDate(data.date)
        // /.article__header 

        .article__content
            if data.image
                if (data.link)
                    a(href=data.link)
                        img(src=data.image, alt=data.title).article__image
                else
                    img(src=data.image, alt=data.title).article__image
            else if data.video
                +video(data.video, {format: '16x9'}).article__video
            else if data.gallery
                +blog-gallery(data.gallery).article__gallery

            .text.article__text !{data.content}
            // /.article__text 

            if data.link
                a(href=data.link).article__link Continue Reading...
        // /.article__content 

        if data.tags || data.author || data.relatedPosts || data.comments
            footer.article__footer
                .article__footer-top
                    if data.tags
                        +article-tags(data.tags).article__tags

                    +share().article__share
                // /.article__footer-top 
                
                if data.author
                    .article__author
                        +article-author(data.author)
                
                if data.relatedPosts
                    section.article__footer-section
                        +title().article__footer-section-title Read more
                        +related-posts(data.relatedPosts).article__related-posts
                    // /.article__footer-section 

                if data.comments
                    section.article__footer-section
                        +title().article__footer-section-title
                            | #{data.comments.total} comments
                        +comments(data.comments).article__comments
                    // /.article__footer-section 

                    section.article__footer-section#comment-form
                        +title().article__footer-section-title Leave a reply
                        +comment-form().article__comment-form
                    // /.article__footer-section 
            // /.article__footer 
    // /.article 
