mixin article(data)
    article.article&attributes(attributes)
        header.article__header
            ul.article__categories
                each category in data.categories
                    li.article__category
                        a(href="javascript:void(0);").article__category-link
                            | #{category}

            h2.article__title
                if data.link
                    a(href=data.link).article__title-link= data.title
                else
                    | #{data.title}

            .article__pubdate
                time(datetime=data.date)= blogDate(data.date)
        // /.article__header 

        .article__content
            if data.image
                if (data.link)
                    a(href=data.link)
                        img(src=data.image, alt=data.title).article__image
                else
                    img(src=data.image, alt=data.title).article__image
            else if data.video
                +video(data.video, {format: '16x9'}).article__video
            else if data.gallery
                +blog-gallery(data.gallery).article__gallery

            .text.article__text !{data.content}

            if data.link
                a(href=data.link).article__link Continue Reading...
        // /.article__content 

        if data.tags || data.author || data.relatedPosts || data.comments
            footer.article__footer
                .article__footer-top
                    if data.tags
                        .article__tags
                            ul.article__tag-list
                                each tag in data.tags
                                    li.article__tag
                                        a(
                                            href="javascript:void(0);"
                                        ).article__tag-link= tag 

                    +share().article__share
                // /.article__footer-top 
                
                if data.author
                    +article-author(data.author).article__author
                
                if data.relatedPosts
                    +related-posts(data.relatedPosts).article__related-posts

                if data.comments
                    +comments(data.comments).article__comments
                    +comment-form().article__comment-form
            // /.article__footer 
    // /.article 
