//-
    name: testimonial
    description: Markup for the testimonial block
    arguments:
        - {object} props - block properties
        - {string} props.img - image
        - {string} props.text - quote text
        - {string} props.author - quote author
        - {boolean} props.reverse - display image on the right

mixin testimonial(props = {})
    .testimonial(
        class = props.reverse && 'testimonial_reverse'
    )&attributes(attributes)
        .testimonial__content
            .testimonial__inner
                .testimonial__img-wrapper
                    -
                        const jpegSrcSet =
                            props.img + '-small.jpg 1x, ' +
                            props.img + '-large.jpg 2x';
                        const webpSrcSet =
                            props.img + '-small.webp 1x, ' + 
                            props.img + '-large.webp 2x';
                    picture
                        source(srcset=webpSrcSet type="image/webp")
                        source(srcset=jpegSrcSet type="image/jpeg")
                        img(
                            src=`${props.img}-small.jpg`
                            alt="Testimonial"
                        ).testimonial__img

                blockquote.testimonial__quote
                    p.testimonial__quote-text= props.text
                    footer.testimonial__quote-footer
                        cite= props.author 
            // .testimonial__inner 
        // .testimonial__content 
    // .testimonial 
