//-
    name: contact-form
    description: Markup for the contact form block

mixin contact-form()
    form.contact-form.form(action="#" method="post")&attributes(attributes)
        h2.contact-form__title Write a message

        .form__fields
            .form__field
                label(
                    for="contact-first-name"
                    id="label-first-name"
                ).form__label First Name
                +input()(
                    type="text"
                    id="contact-first-name"
                    name="first_name"
                    placeholder="First Name *"
                    aria-labelledby="label-first-name"
                    required
                ).form__input
            // .form__field 

            .form__field
                label(
                    for="contact-last-name"
                    id="label-last-name"
                ).form__label Last Name
                +input()(
                    type="text"
                    id="contact-last-name"
                    name="last_name"
                    placeholder="Last Name *"
                    aria-labelledby="label-last-name"
                    required
                ).form__input
            // .form__field 

            .form__field
                label(
                    for="contact-email"
                    id="label-email"
                ).form__label Email
                +input()(
                    type="email"
                    id="contact-email"
                    name="email"
                    placeholder="Email *"
                    aria-labelledby="label-email"
                    required
                ).form__input
            // .form__field 

            .form__field
                label(
                    for="contact-subject"
                    id="label-subject"
                ).form__label Subject
                +input()(
                    type="text"
                    id="contact-subject"
                    name="subject"
                    placeholder="Subject *"
                    aria-labelledby="label-subject"
                    required
                ).form__input
            // .form__field 

            .form__field.form__field_wide
                label(
                    for="contact-message"
                    id="label-message"
                ).form__label Message
                +text-area()(
                    id="contact-message"
                    name="message"
                    placeholder="Message *"
                    aria-labelledby="label-message"
                    required
                ).form__input
            // .form__field 
        // .form__fields 

        .contact-form__submit
            +btn({ title: 'Send' }, 'submit', {
                theme: 'light',
                size: 'small',
            })
        // .contact-form__submit 
    // .contact-form 
