//-
    name: opening-hours
    description: Markup for the opening hours block
    arguments:
        - {object} props - block options
        - {object[]} props.timetable - time table
        - {string} props.timetable[].days - week days
        - {string} props.timetable[].time - working hours
        - {string} props.timetable[].iso8601 - datetime attribute value

mixin opening-hours(props)
    .opening-hours(
        itemscope
        itemtype="http://schema.org/Restaurant"
    )&attributes(attributes)
        meta(itemprop="name" content=data.siteTitle)

        h2.opening-hours__title Opening hours

        ul.opening-hours__list
            each item in props.timetable
                li.opening-hours__item
                    time(
                        itemprop="openingHours"
                        datetime=item.iso8601
                    ).opening-hours__item-inner
                        span.opening-hours__days= item.days
                        = ' '
                        span.opening-hours__time= item.time
    // .opening-hours 
