//-
    name: header
    description: Markup for the header block
    arguments:
        - {object} props - block properties
        - {boolean} props.isHomepage - true if the current page is homepage
        - {boolean} props.transparent - if true, apply transparent modifier

mixin header(props = {})
    header#masthead(class={
        header: true,
        header_transparent: !!props.transparent
    })&attributes(attributes)
        .header__inner
            if !!props.isHomepage
                h1.header__logo
                    img(src="img/logo.svg", alt="Renome").header__logo-img
                    span.header__logo-text= data.siteTitle
            else
                a(href="index.html").header__logo
                    img(
                        src="img/logo.svg"
                        alt="Renome"
                    ).header__logo-img
                    img(
                        src="img/logo-alt.svg"
                        alt="Renome"
                    ).header__logo-img_alt

            +nav().header__nav

            .header__actions
                button.header__search-toggle
                    +icon('search', 'Show search form')

                +mini-cart().header__mini-cart

        +search().header__search
