mixin header(data, mods = {})
    // start header 
    header.header(
        class=!!mods.transparent ? 'header_transparent' : ''
    )&attributes(attributes)
        .header__inner
            if !!data.isHomepage
                h1.header__logo
                    img(src="img/logo.png", alt="Renome").header__logo-img
                    span.header__logo-text Renome
            else
                a(href="index.html").header__logo
                    img(
                        src="img/logo.png"
                        alt="Renome"
                    ).header__logo-img
                    img(
                        src="img/logo-alt.png"
                        alt="Renome"
                    ).header__logo-img_alt

            +nav(data.nav).header__nav#nav

            .header__actions
                button(type="button" aria-label="Show navigation").header__search-toggle
                    +icon('search')

                +mini-cart(data.cart).header__mini-cart

            +hamburger('Toggle nav')(
                type="button"
                aria-haspopup="true"
                aria-expanded="false"
                aria-label="Show nav menu"
            ).header__nav-toggle

            +search().header__search
    // end header 
