mixin popular-posts(data)
    .popular-posts&attributes(attributes)
        .popular-posts__list
            each post in data
                article.popular-posts__item
                    a(href=post.link).popular-posts__item-thumb
                        img(
                            src=post.thumb
                            alt=post.title
                        ).popular-posts__item-img
                    
                    .popular-posts__item-body
                        h3.popular-posts__item-title
                            a(href=post.link).popular-posts__item-link
                                | #{post.title}
                        .popular-posts__item-pubdate
                            time(datetime=post.date)= blogDate(post.date)
    // /.popular-posts 
