//-
    name: payments
    description: Markup for the checkout payments block

mixin payments()
    ul.payments&attributes(attributes)
        li.payments__method
            .payments__header
                +radio({
                    id: 'payment-method-direct',
                    name: 'payment_method',
                    value: 'direct',
                    labelledBy: 'label-payment-method-direct',
                    checked: true,
                }).payments__radio

                label(
                    id="label-payment-method-direct"
                    for="payment-method-direct"
                ).payments__label Direct payment
            // .payments__header 
        
            .rich-text.payments__desc
                p Make your payment directly into our bank account. Please use your Order ID as the payment reference. Your order won’t be shipped until the funds have cleared in our account.
            // .payments__desc 

        li.payments__method
            .payments__header
                +radio({
                    id: 'payment-method-cheque',
                    name: 'payment_method',
                    value: 'cheque',
                    labelledBy: 'label-payment-method-cheque',
                }).payments__radio

                label(
                    id="label-payment-method-cheque"
                    for="payment-method-cheque"
                ).payments__label Cheque payment
            // .payments__header 
        
            .rich-text.payments__desc
                p Please send your cheque to Store Name, Store Street, Store Town, Store State / County, Store Postcode.
            // .payments__desc 

        li.payments__method
            .payments__header
                +radio({
                    id: 'payment-method-paypal',
                    name: 'payment_method',
                    value: 'paypal',
                    labelledBy: 'label-payment-method-paypal',
                }).payments__radio

                label(
                    id="label-payment-method-paypal"
                    for="payment-method-paypal"
                ).payments__label PayPal

                img(
                    srcset="img/payments.jpg 1x, img/payments@2x.jpg 2x"
                    src="img/payments.jpg"
                    alt="Visa Mastercard PayPal"
                ).payments__cards

                a(href="javascript:void(0);").payments__link What is PayPal?
            // .payments__header 
                
            .rich-text.payments__desc
                p Pay via PayPal; you can pay with your credit card if you don’t have a PayPal account. 
            // .payments__desc 
