mixin menu-product(data)
    li.menu-product&attributes(attributes)
        .menu-product__thumb
            img(src=data.thumb, alt=data.title).menu-product__img
            if data.new
                .menu-product__label New
            a(href=data.img role="button").menu-product__link
                +icon('zoom', 'View full size image')
        
        .menu-product__price
            -
                const units = Math.floor(data.price);
                const decimals = (data.price - units).toFixed(2).substring(1);
            | $#{units}
            span.menu-product__price-decimals= decimals

        .menu-product__text
            h3.menu-product__title= data.title
            .rich-text.rich-text_small-spacing.menu-product__desc
                p= data.desc
