//-
    name: post-gallery
    description: Markup for the post gallery block
    arguments:
        - {object} props - block options
        - {object[]} props.slides - slides
        - {string} props.slides[].src - slide image
        - {string} props.slides[].alt - slide alt text

mixin post-gallery(props)
    .post-gallery&attributes(attributes)
        .post-gallery__inner
            .post-gallery__container
                each image in props.slides
                    -
                        const jpegSrcSet =
                            image.src + '-small.jpg 480w, ' +
                            image.src + '-medium.jpg 768w, ' +
                            image.src + '-large.jpg 1152w, ' +
                            image.src + '-xlarge.jpg 1536w';
                        const webpSrcSet =
                            image.src + '-small.webp 480w, ' +
                            image.src + '-medium.webp 768w, ' +
                            image.src + '-large.webp 1152w, ' +
                            image.src + '-xlarge.webp 1536w';
                        const sizes = '(min-width: 992px) 700px, calc(100vw - 20px)';
                    .post-gallery__slide
                        picture
                            source(
                                srcset=webpSrcSet
                                type="image/webp"
                                sizes=sizes
                            )
                            source(
                                srcset=jpegSrcSet
                                type="image/jpeg"
                                sizes=sizes
                            )
                            img(
                                src=`${image.src}-medium.jpg`
                                alt=image.alt
                            ).post-gallery__img

            .post-gallery__arrows
                button(
                    type="button"
                ).post-gallery__arrow.post-gallery__arrow_dir_prev Previous
                button(
                    type="button"
                ).post-gallery__arrow.post-gallery__arrow_dir_next Next
