//-
    name: add-to-cart
    description: Markup for the add to cart block

mixin add-to-cart()
    form(action="#" method="post").add-to-cart&attributes(attributes)
        +input({ theme: 'number' })(
            name="quantity"
            value="1"
            type="number"
            min="1"
            size="4"
            step="1"
            aria-label="Quantity"
            required
        ).add-to-cart__qty

        +btn({ type: 'submit' }).add-to-cart__btn(
            name="add-to-cart"
        ) Add to cart
