//-
    name: related posts
    description: Markup for the related posts block
    arguments:
        - {object} props - block options
        - {object[]} props.posts - list of posts
        - {string} props.posts[].thumb - post thumbnail image
        - {string} props.posts[].title - post title
        - {string} props.posts[].date - post publication date

mixin related-posts(props = {})
    .related-posts&attributes(attributes)
        .related-posts__list
            each post in props.posts
                article.related-posts__item
                    a(
                        href=post.link
                        aria-hidden="true"
                        tabindex="-1"
                    ).related-posts__item-thumb
                        -
                            const jpegSrcSet =
                                post.thumb + '.jpg 320w, ' +
                                post.thumb + '@2x.jpg 640w';
                            const webpSrcSet =
                                post.thumb + '.webp 320w, ' +
                                post.thumb + '@2x.webp 640w';
                            const sizes = 
                                '(min-width: 992px) 220px, ' +
                                '(min-width: 768px) 33vw, ' +
                                '(min-width: 480px) 50vw, ' +
                                '100vw';
                        picture
                            source(
                                srcset=webpSrcSet
                                type="image/webp"
                                sizes=sizes
                            )
                            source(
                                srcset=jpegSrcSet
                                type="image/webp"
                                sizes=sizes
                            )
                            img(
                                src=`${post.thumb}.jpg`
                                alt=post.title
                            ).related-posts__item-img
                    
                    .related-posts__item-body
                        h3.related-posts__item-title
                            a(href=post.link).related-posts__item-link= post.title
                        time.related-posts__item-date(datetime=post.date)
                            = moment(post.date).format('MMMM D, YYYY')
