//-
    name: project-carousel
    description: Markup for the project carousel block
    arguments:
        - {object} props - block properties
        - {object} props.slides - slides
        - {string} props.slides[].src - slide image
        - {string} props.slides[].alt - slide image alt text

mixin project-carousel(props = {})
    .project-carousel&attributes(attributes)
        .project-carousel__inner
            .project-carousel__container
                each slide in props.slides
                    .project-carousel__slide
                        -
                            const jpegSrcSet =
                                slide.src + '-small.jpg 600vw, ' +
                                slide.src + '-medium.jpg 900vw, ' +
                                slide.src + '-large.jpg 1200vw, ' +
                                slide.src + '-xlarge.jpg 1800vw';
                            const webpSrcSet =
                                slide.src + '-small.webp 600vw, ' +
                                slide.src + '-medium.webp 900vw, ' +
                                slide.src + '-large.webp 1200vw, ' +
                                slide.src + '-xlarge.webp 1800vw';
                            const sizes = '(min-width: 1200px) 1180px, 100vw';
                        picture
                            source(
                                srcset=webpSrcSet
                                type="image/webp"
                                sizes=sizes
                            )
                            source(
                                srcset=jpegSrcSet
                                type="image/jpeg"
                                sizes=sizes
                            )
                            img(
                                src=`${slide.src}-large.jpg`
                                alt=slide.alt
                            ).project-carousel__img
            // .project-carousel__container 

            .project-carousel__arrows
                button(
                    type="button"
                ).project-carousel__arrow.project-carousel__arrow_dir_prev
                    | Previous slide
                button(
                    type="button"
                ).project-carousel__arrow.project-carousel__arrow_dir_next
                    | Next slide
            // .project-carousel__arrows 
        // .project-carousel__inner 
    // .project-carousel 
