//-
    name: video
    description: Markup for the video block
    arguments:
        - {object} props - block options
        - {string} props.url - video url
        - {string} props.format - video format ("16x9" or "4x3")
        - {string} props.placeholder - placeholder image
        - {string} props.title - title

mixin video(props = {})
    .video(data-url=props.url, data-format=props.format)&attributes(attributes)
        .video__placeholder
            -
                const jpegSrcSet =
                    props.placeholder + '-small.jpg 480w, ' +
                    props.placeholder + '-medium.jpg 768w, ' +
                    props.placeholder + '-large.jpg 1152w, ' +
                    props.placeholder + '-xlarge.jpg 1536w';
                const webpSrcSet =
                    props.placeholder + '-small.webp 480w, ' +
                    props.placeholder + '-medium.webp 768w, ' +
                    props.placeholder + '-large.webp 1152w, ' +
                    props.placeholder + '-xlarge.webp 1536w';
                const sizes = '(min-width: 992px) 700px, calc(100vw - 20px)';
            picture
                source(
                    srcset=webpSrcSet
                    type="image/webp"
                    sizes=sizes
                )
                source(
                    srcset=jpegSrcSet
                    type="image/jpeg"
                    sizes=sizes
                )
                img(
                    src=`${props.placeholder}-medium.jpg`
                    alt=props.title
                ).video__img
            .video__overlay
                button(type="button").video__play-btn
                    +icon('play', 'Play Video')
