//-
    name: portfolio-filter
    description: Markup for the portfolio filter block
    arguments:
        - {object} props - block properties
        - {string[]} props.categories - list of all categories

mixin portfolio-filter(props = {})
    .portfolio-filter&attributes(attributes)
        .portfolio-filter__inner
            button(
                type="button"
                aria-haspopup="true"
                aria-expanded="false"
                aria-controls="portfolio-filter"
            ).portfolio-filter__toggle Filter

            ul.portfolio-filter__list(
                role="listbox"
                aria-label="Portfolio Filter"
                aria-orientation="vertical"
                tabindex="0"
                aria-activedescendant=`filter-${props.categories[0].toLowerCase()}`
            )#portfolio-filter
                each cat, i in props.categories
                    li.portfolio-filter__item
                        button.portfolio-filter__option(
                            type="button"
                            role="option"
                            tabindex="-1"
                            aria-selected=String(!i)
                            data-filter=cat.toLowerCase()
                            id=`filter-${cat.toLowerCase()}`
                        )= cat
