//-
    name: comment
    description: Markup for the comment block
    arguments:
        - {object} props - block options
        - {string} props.id - comment ID
        - {string} props.avatar - comment author's avatar
        - {string} props.author - comment author's name
        - {string} props.date - publication date
        - {object[]} props.replies - comment replies

mixin comment(props = {})
    -
        const formatDate = (dateString) => {
            const date = new Date(dateString);
            const month = date.toLocaleDateString('en-US', { month: 'short' });
            const day = date.toLocaleDateString('en-US', { day: '2-digit' });
            const time = date.toLocaleTimeString('en-US', {
                hour: 'numeric',
                minute: '2-digit',
            });
            return `${month} ${day}, ${time}`;
        };

    li.comment(data-id=props.id)&attributes(attributes)
        .comment__content
            .comment__avatar
                -
                    const jpegSrcSet =
                        props.avatar + '.jpg 1x, ' + 
                        props.avatar + '@2x.jpg 2x';
                    const webpSrcSet =
                        props.avatar + '.webp 1x, ' +
                        props.avatar + '@2x.webp 2x';
                picture
                    source(srcset=webpSrcSet type="image/webp")
                    source(srcset=jpegSrcSet type="image/jpeg")
                    img(
                        src=`${props.avatar}.jpg`
                        alt=props.author
                    ).comment__img
            time.comment__date(datetime=props.date)
                = formatDate(props.date)
            .comment__author= props.author
            .comment__reply-wrap
                .comment__reply-btn-wrap
                    button(type="button").comment__reply-btn Reply

            .rich-text.comment__body= props.text

        .comment__replies
            if props.replies
                ul.comment__reply-list
                    each reply in props.replies
                        +comment(reply).comment__reply
