mixin img-group(data, order = 'bottom-right', size = 'lg')
    .img-group(
        class=`img-group_order_${order} img-group_size_${size}`
    )&attributes(attributes)
        .img-group__row
            img(src=data.first.src, alt=data.first.alt).img-group__img
        .img-group__row
            img(src=data.second.src, alt=data.second.alt).img-group__img
