//-
    name: review-form
    description: Markup for the review form block

mixin review-form()
    form(action="#" method="post").review-form.form&attributes(attributes)
        .review-form__inner
            h3.title.review-form__title Add a review

            .form__fields
                .form__field
                    label(
                        for="review-author"
                        id="review-author-label"
                    ).form__label Author
                    +input({theme: 'small'})(
                        type="text"
                        id="review-author"
                        aria-labelledby="review-author-label"
                        name="author"
                        placeholder="Name"
                        required
                    ).form__input
                // .form__field 

                .form__field
                    label(
                        for="review-email"
                        id="review-email-label"
                    ).form__label Email
                    +input({theme: 'small'})(
                        type="email"
                        id="review-email"
                        aria-labelledby="review-email-label"
                        name="email"
                        placeholder="Email"
                        required
                    ).form__input
                // .form__field 

                fieldset.form__field.form__field_radio-group
                    legend.form__label.form__label_visible
                        | Your rating
                    
                    +rating-input({
                        name: 'rating',
                        required: true,
                    }).form__rating
                // .form__field 

                .form__field.form__field_wide
                    label(
                        for="review-comment"
                        id="review-comment-label"
                    ).form__label Your review
                    +text-area({theme: 'small'})(
                        id="review-comment"
                        aria-labelledby="review-comment-label"
                        name="comment"
                        placeholder="Message"
                        required
                    ).form__input
                // .form__field 
            // .form__fields 

            .review-form__bottom
                +btn({ title: 'Submit' }, 'submit').review-form__submit
            // .review-form__bottom 
        // .review-form__inner 
