//-
    name: comment-form
    description: Markup for the comment form block

mixin comment-form()
    form.comment-form.form(action="#" method="post")&attributes(attributes)
        .form__fields
            input(type="hidden" name="reply-to")

            .form__field
                label(
                    for="comment-name"
                    id="comment-name-label"
                ).form__label
                +input({theme: 'small'})(
                    type="text"
                    name="name"
                    id="comment-name"
                    aria-labelledby="comment-name-label"
                    placeholder="Name"
                    required
                ).form__input Name
            // .form__field 

            .form__field
                label(
                    for="comment-email"
                    id="comment-email-label"
                ).form__label Email
                +input({theme: 'small'})(
                    type="email"
                    name="email"
                    id="comment-email"
                    aria-labelledby="comment-email-label"
                    placeholder="Email"
                    required
                ).form__input
            // .form__field 

            .form__field.form__field_wide
                label(
                    for="comment-message"
                    id="comment-message-label"
                ).form__label Message
                +text-area({theme: 'small'})(
                    name="message"
                    placeholder="Message"
                    id="comment-message"
                    aria-labelledby="comment-message-label"
                    required
                ).form__input
            // .form__field 
        // .form__fields 

        +btn({ type: 'submit' }).comment-form__submit Post comment
    // .comment-form 
