include ../../blocks/common/btn/btn
include ../../blocks/common/footer/footer
include ../../blocks/common/hamburger/hamburger
include ../../blocks/common/header/header
include ../../blocks/common/heading-group/heading-group
include ../../blocks/common/icon/icon
include ../../blocks/common/img-group/img-group
include ../../blocks/common/mini-cart/mini-cart
include ../../blocks/common/mobile-search/mobile-search
include ../../blocks/common/nav/nav
include ../../blocks/common/page-header/page-header
include ../../blocks/common/search/search
include ../../blocks/common/section/section

<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")

        title
            if data.pageTitle
                | #{data.pageTitle} | #{data.siteTitle}
            else
                | #{data.siteTitle} &#8211; #{data.siteTagline}

        link(rel="stylesheet", href="css/style.css")

    body.page(class=data.isHomepage ? 'page_home' : '')
        -
            const navData = data.nav.map((item) => {
                if (item.text == data.activeNavItem) {
                    return {
                        link: item.link,
                        text: item.text,
                        active: true,
                        submenu: item.submenu 
                            ? item.submenu.map((subItem) => ({
                                link: subItem.link,
                                text: subItem.text,
                                active: subItem.text == data.activeNavSubItem,
                            }))
                            : null,
                    } 
                } else {
                    return item;
                }
            }); 
        +header({
            nav: navData,
            cart: data.cart,
        }, {transparent: !data.isHomepage}).page__header
    
        // start content 
        main
            block page
        // end content 

        +footer()

        script(src="js/vendor.js")
        script(src="js/main.js")
