include ../../blocks/common/btn/btn
include ../../blocks/common/footer/footer
include ../../blocks/common/hamburger/hamburger
include ../../blocks/common/header/header
include ../../blocks/common/heading-group/heading-group
include ../../blocks/common/icon/icon
include ../../blocks/common/img-group/img-group
include ../../blocks/common/input/input
include ../../blocks/common/mini-cart/mini-cart.pug
include ../../blocks/common/mobile-search/mobile-search.pug
include ../../blocks/common/nav/nav.pug
include ../../blocks/common/page-header/page-header.pug
include ../../blocks/common/pagination/pagination.pug
include ../../blocks/common/search/search.pug
include ../../blocks/common/section/section.pug
include ../../blocks/common/tabs/tabs.pug
include ../../blocks/common/text-area/text-area.pug
include ../../blocks/common/title/title.pug

<!DOCTYPE html>
html(lang="en")
    block functions
        -
            const blogDate = function(datestr) {
                const date = new Date(datestr);
                const month = date.toLocaleString('en-us', { month: 'long'});
                const day = date.getDate();
                const year = date.getFullYear();
                return `${month} ${day}, ${year}`;
            };

    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")

        title
            if data.pageTitle
                | #{data.pageTitle} | #{data.siteTitle}
            else
                | #{data.siteTitle} &#8211; #{data.siteTagline}

        link(rel="stylesheet", href="css/style.css")

    body.page(class=data.isHomepage ? 'page_home' : '')
        -
            const navData = data.nav.map((item) => {
                if (item.text == data.activeNavItem) {
                    return {
                        link: item.link,
                        text: item.text,
                        active: true,
                        submenu: item.submenu 
                            ? item.submenu.map((subItem) => ({
                                link: subItem.link,
                                text: subItem.text,
                                active: subItem.text == data.activeNavSubItem,
                            }))
                            : null,
                    } 
                } else {
                    return item;
                }
            }); 
        +header({
            nav: navData,
            cart: data.cart,
            isHomepage: data.isHomepage,
        }, {transparent: !data.isHomepage}).page__header
    
        // start content 
        main
            block page
        // end content 

        +footer()

        block scripts
            script(src="js/vendor.js")
            script(src="js/main.js")
