mixin recent-posts(data)
    -
        const formattedDate = function(datestr) {
            const date = new Date(datestr);
            let month = date.getMonth() + 1;
            if (month < 10)
                month = '0' + month;
            let day = date.getDate();
            if (day < 10)
                day = '0' + day;
            return `${month}/${day}`;
        };

    section.recent-posts
        .recent-posts__inner
            +heading-group({
                title: data.title,
                subtitle: data.subtitle,
                level: 2,
            })

            .recent-posts__list
                each post in data.posts
                    .recent-posts__item
                        article(
                            style=`background-image: url(${post.thumb})`
                        ).recent-posts__post
                            .recent-posts__post-inner
                                .recent-posts__date
                                    time(datetime=post.date)
                                        = formattedDate(post.date)
                                h3.recent-posts__title= post.title
                                a(href=post.link).recent-posts__link ...
                    // /.recent-posts__item 
            // /.recent-posts__list 
        // /.recent-posts__inner 
    // /.recent-posts 