mixin review(data)
    -
        const formattedDate = function(datestr) {
            const date = new Date(datestr);
            const month = date.toLocaleString('en-us', {month: 'short'});
            const day = date.getDate();
            const time = date.toLocaleString('en-US', {
                hour: 'numeric',
                minute: 'numeric',
                hour12: true,
            });
            return `${month} ${day}, ${time}`;
        };
    .review&attributes(attributes)
        .review__header
            img(src=data.avatar, alt=data.author).review__avatar

            .review__title
                h3.review__author= data.author
                .review__rating
                    +rating(data.rating)
        
        .review__time
            time(datetime=data.date)= formattedDate(data.date)

        .review__body
            .text.review__text !{data.text}
