//-
    name: review
    description: Markup for the product review block
    arguments:
        - {object} props - block options
        - {string} props.avatar - author's avatar
        - {string} props.author - author's name
        - {number} props.rating - rating value (0 to 5)
        - {string} props.text - review text

mixin review(props)
    li.review&attributes(attributes)
        .review__header
            -
                const jpegSrcSet =
                    props.avatar + '.jpg 1x, ' +
                    props.avatar + '@2x.jpg 2x';
                const webpSrcSet =
                    props.avatar + '.webp 1x, ' +
                    props.avatar + '@2x.webp 2x';
            picture
                source(srcset=webpSrcSet type="image/webp")
                source(srcset=jpegSrcSet type="image/jpeg")
                img(
                    src=`${props.avatar}.jpg`
                    alt=props.author
                ).review__avatar

            .review__title
                h3.review__author= props.author
                .review__rating
                    +rating({ value: props.rating })
            // .review__title 
        // .review__header 
        
        time.review__time(datetime=props.date)
            = moment(props.date).format('MMM D, h:mm A')

        .review__body
            .rich-text.review__text !{props.text}
        // .review__body
    // .review 
