//-
    name: section
    description: Markup for the section block
    arguments:
        - {object} props - block properties
        - {boolean} props.reverse - true if images are on the right side
        - {object} props.imgGroup - image group properties
        - {string} props.title - section title
        - {string} props.subtitle - section subtitle
        - {string} props.id - optional ID attribute (for smooth scrolling)
        - {string} props.text - section text
        - {string} props.link - read more link

mixin section(props = {})
    section.section(
        class=props.reverse && 'section_reverse'
    )&attributes(attributes)
        .section__inner
            +img-group(props.imgGroup).section__images

            .section__content
                +heading-group({
                    title: props.title, 
                    subtitle: props.subtitle,
                    level: 2,
                })(
                    id=props.id
                    tabindex=props.id && '-1'
                )

                if props.text
                    .rich-text.section__text !{props.text}
                    // .rich-text 

                if (props.link)
                    a(
                        href=props.link
                        aria-label="Read More"
                    ).section__read-more ...
            // .section__content 
        // .section__inner 
    // .section 
