//-
    name: specials-slider
    description: Markup for the specials slider block
    arguments:
        - {object} props - block properties
        - {array} props.slides - slides
        - {string} props.slides[].img - product image
        - {string} props.slides[].title - product title
        - {string} props.slides[].weekday - day of week
        - {number} props.slides[].price - product price
        - {string} props.slides[].titleId - ID of the slide title element
        - {boolean} props.lazy - lazy-load the images

mixin specials-slider(props)
    .specials-slider(
        role="group"
        aria-roledescription="carousel"
    )&attributes(attributes)
        .specials-slider__inner
            .specials-slider__container(
                aria-atomic="false"
                aria-live="polite"
            )
                each slide, i in props.slides
                    .specials-slider__slide(
                        class=(i == 0) && 'specials-slider__slide_active'
                        role="group"
                        aria-roledescription="slide"
                        aria-labelledby=slide.titleId
                    )
                        -
                            const jpegSrcSet = 
                                slide.img + '-small.jpg 600w, ' +
                                slide.img + '-medium.jpg 900w, ' +
                                slide.img + '-large.jpg 1200w';
                            const webpimgSet = 
                                slide.img + '-small.webp 600w, ' +
                                slide.img + '-medium.webp 900w, ' +
                                slide.img + '-large.webp 1200w';
                            const sizes = '(min-width: 750px) 600px, calc(100vw - 20px)';
                        .specials-slider__slide-inner
                            if props.lazy
                                picture
                                    source(
                                        data-srcset=webpSrcSet
                                        type="image/webp"
                                        sizes=sizes
                                    )
                                    source(
                                        data-srcset=jpegSrcSet
                                        type="image/jpeg"
                                        sizes=sizes
                                    )
                                    img(
                                        src='img/content/specials/specials-placeholder'
                                        data-src=`${slide.img}-small.jpg`
                                        alt=slide.title
                                    ).specials-slider__slide-img.lazy
                            else
                                picture
                                    source(
                                        srcset=webpSrcSet
                                        type="image/webp"
                                        sizes=sizes
                                    )
                                    source(
                                        srcset=jpegSrcSet
                                        type="image/jpeg"
                                        sizes=sizes
                                    )
                                    img(
                                        src=`${slide.img}-small.jpg`
                                        alt=slide.title
                                    ).specials-slider__slide-img

                            .specials-slider__slide-text
                                h3.specials-slider__slide-title(
                                    id=slide.titleId
                                )= slide.title
                                .specials-slider__slide-weekday= slide.weekday

                            .specials-slider__slide-price
                                | $#{slide.price.toFixed(2)}
                        // .specials-slider__slide-inner 
                    // .specials-slider__slide 
            // .specials-slider__container 

            .specials-slider__arrows
                button(
                    type="button"
                ).specials-slider__arrow.specials-slider__arrow_dir_prev
                    | Previous
                button(
                    type="button"
                ).specials-slider__arrow.specials-slider__arrow_dir_next
                    | Next
            // .specials-slider__arrows 
        // .specials-slider__inner 
    // .specials-slider 
