//-
    name: specials-slider
    description: Markup for the specials slider block
    arguments:
        - {object} props - block properties
        - {array} props.slides - slides
        - {string} props.slides[].img - product image
        - {string} props.slides[].title - product title
        - {string} props.slides[].weekday - day of week
        - {number} props.slides[].price - product price
        - {string} props.slides[].titleId - ID of the slide title element

mixin specials-slider(props)
    .specials-slider(
        role="group"
        aria-roledescription="carousel"
    )&attributes(attributes)
        .specials-slider__inner
            .specials-slider__container(
                aria-atomic="false"
                aria-live="polite"
            )
                each slide, i in props.slides
                    .specials-slider__slide(
                        class=(i == 0) && 'specials-slider__slide_active'
                        role="group"
                        aria-roledescription="slide"
                        aria-labelledby=slide.titleId
                    )
                        -
                            const mobileJpegSrcSet = `
                                ${slide.img}-small.jpg 1x,
                                ${slide.img}-medium.jpg 2x
                            `;
                            const desktopJpegSrcSet = `
                                ${slide.img}-small.jpg 1x,
                                ${slide.img}-medium.jpg 1.5x,
                                ${slide.img}-large.jpg 2x
                            `;
                            const mobileWebpSrcSet = `
                                ${slide.img}-small.webp 1x,
                                ${slide.img}-medium.webp 2x
                            `;
                            const desktopWebpSrcSet = `
                                ${slide.img}-small.webp 1x,
                                ${slide.img}-medium.webp 1.5x,
                                ${slide.img}-large.webp 2x
                            `;
                        .specials-slider__slide-inner
                            picture
                                source(
                                    srcset=mobileWebpSrcSet
                                    media="(max-width: 480px)"
                                    type="image/webp"
                                )
                                source(
                                    srcset=desktopWebpSrcSet
                                    type="image/webp"
                                )
                                source(
                                    srcset=mobileJpegSrcSet
                                    media="(max-width: 480px)"
                                    type="image/jpeg"
                                )
                                source(
                                    srcset=desktopJpegSrcSet
                                    type="image/jpeg"
                                )
                                img(
                                    src=`${slide.img}-small.jpg`
                                    alt=slide.title
                                ).specials-slider__slide-img

                            .specials-slider__slide-text
                                h3.specials-slider__slide-title(
                                    id=slide.titleId
                                )= slide.title
                                .specials-slider__slide-weekday= slide.weekday

                            .specials-slider__slide-price
                                | $#{slide.price.toFixed(2)}
                        // .specials-slider__slide-inner 
                    // .specials-slider__slide 
            // .specials-slider__container 

            .specials-slider__arrows
                button(
                    type="button"
                ).specials-slider__arrow.specials-slider__arrow_dir_prev
                    | Previous
                button(
                    type="button"
                ).specials-slider__arrow.specials-slider__arrow_dir_next
                    | Next
            // .specials-slider__arrows 
        // .specials-slider__inner 
    // .specials-slider 
