mixin specials-slider(data)
    .specials-slider&attributes(attributes)
        .specials-slider__inner
            .specials-slider__container
                each slide, i in data
                    .specials-slider__slide(
                        class=(i == 0) ? 'specials-slider__slide_active' : ''
                    )
                        img(
                            src=slide.img
                            alt=slide.title
                        ).specials-slider__slide-img

                        .specials-slider__slide-text
                            h3.specials-slider__slide-title= slide.title
                            .specials-slider__slide-weekday= slide.weekday

                        .specials-slider__slide-price
                            | $#{slide.price.toFixed(2)}
                    // /.specials-slider__slide 
            // /.specials-slider__container 

            .specials-slider__arrows
                button(
                    type="button"
                ).specials-slider__arrow.specials-slider__arrow_dir_prev
                    | Previous
                button(
                    type="button"
                ).specials-slider__arrow.specials-slider__arrow_dir_next
                    | Next
            // /.specials-slider__arrows 
        // /.specials-slider__inner 
    // /.specials-slider 