//-
    name: recent-posts
    description: Markup for the recent posts block
    arguments:
        - {object} props - block properties
        - {string} props.title - section title
        - {string} props.subtitle - section subtitle
        - {object[]} props.posts - list of posts
        - {string} props.posts[].thumb - post thumbnail image
        - {string} props.posts[].date - post publication date
        - {string} props.posts[].title - post title
        - {string} props.posts[].link - post link

mixin recent-posts(props = {})
    section.recent-posts
        .recent-posts__inner
            +heading-group({
                title: props.title,
                subtitle: props.subtitle,
                level: 2,
            })

            .recent-posts__list
                each post in props.posts
                    .recent-posts__item
                        article(
                            style=`background-image: url(${post.thumb})`
                        ).recent-posts__post
                            .recent-posts__post-inner
                                .recent-posts__date
                                    time(datetime=post.date)
                                        = moment(post.date).format('MM/DD')
                                h3.recent-posts__title= post.title
                                a(
                                    href=post.link
                                    aria-label="Read More"
                                ).recent-posts__link ...
