mixin cart-form(data)
    form(action="#" method="post").cart-form&attributes(attributes)
        .cart-form__inner
            table.cart-form__table
                colgroup
                    col.cart-form__col.cart-form__col_name_product
                    col.cart-form__col.cart-form__col_name_qty
                    col.cart-form__col.cart-form__col_name_total
                    col.cart-form__col.cart-form__col_name_remove

                thead
                    tr
                        th.cart-form__header(scope="col") Product
                        th.cart-form__header(scope="col")
                            abbr(title="Quantity").cart-form__header-abbr Qty
                            span.cart-form__header-full Quantity
                        th.cart-form__header(scope="col") Total
                        th.cart-form__header(scope="col") &nbsp;

                tbody
                    each item in data
                        tr.cart-form__item
                            td.cart-form__cell
                                .cart-form__product
                                    a(href=item.link).cart-form__product-thumb
                                        img(
                                            src=item.image
                                            alt=item.title
                                        ).cart-form__product-img

                                    .cart-form__product-body
                                        a(
                                            href=item.link
                                        ).cart-form__product-title= item.title
                                        .cart-form__product-price
                                            | $#{item.price.toFixed(2)}

                            td.cart-form__cell
                                +input({large: true})(
                                    type       = "number"
                                    value      = item.quantity
                                    name       = `[${item.id}][qty]`
                                    min        = "0"
                                    size       = "4"
                                    step       = "1"
                                    aria-label = "Quantity"
                                ).cart-form__qty

                            td.cart-form__cell
                                span.cart-form__subtotal
                                    | $#{(item.quantity*item.price).toFixed(2)}

                            td.cart-form__cell
                                a(
                                    href            = "javascript:void(0);"
                                    type            = "button"
                                    data-product-id = item.id
                                    role            = "button"
                                ).cart-form__remove Remove this item

            .cart-form__actions
                .cart-form__coupon
                    label.cart-form__coupon-label(
                        for = "cart-coupon-code"
                        id  = "label-coupon-code"
                    ) Coupon code
                    +input({alt: true})(
                        type            = "text"
                        name            = "coupon_code"
                        placeholder     = "Coupon code"
                        id              = "cart-coupon-code"
                        aria-labelledby = "label-coupon-code"
                    ).cart-form__coupon-input
                    +btn({
                        title: 'Apply coupon'
                    }, 'button').cart-form__coupon-apply(
                        name  = "apply_coupon"
                        value = "Apply coupon"
                    )

                +btn({
                    title: 'Update Cart'
                }, 'submit').cart-form__submit(
                    name  = "update_cart"
                    value = "Update Cart"
                )
