//-
    name: cart-form
    description: Markup for the shopping cart form block
    arguments:
        - {object} props - block options
        - {object[]} props.items - cart items
        - {string} props.items[].image - product image
        - {string} props.items[].title - product title
        - {number} props.items[].price - product price
        - {string} props.items[].id - product id
        - {number} props.items[].quantity - product quantity

mixin cart-form(props = {})
    form(action="#" method="post").cart-form&attributes(attributes)
        .cart-form__inner
            table.cart-form__table
                colgroup
                    col.cart-form__col.cart-form__col_name_product
                    col.cart-form__col.cart-form__col_name_qty
                    col.cart-form__col.cart-form__col_name_total
                    col.cart-form__col.cart-form__col_name_remove

                thead
                    tr
                        th.cart-form__header(scope="col") Product
                        th.cart-form__header(scope="col")
                            abbr(title="Quantity").cart-form__header-abbr Qty
                            span.cart-form__header-full Quantity
                        th.cart-form__header(scope="col") Total
                        th.cart-form__header(scope="col") &nbsp;

                tbody
                    each item in props.items
                        tr.cart-form__item
                            td.cart-form__cell
                                .cart-form__product
                                    a(href=item.link).cart-form__product-thumb
                                        -
                                            const jpegSrcSet =
                                                item.image + '-small.jpg 1x, ' +
                                                item.image + '-large.jpg 2x';
                                            const webpSrcSet =
                                                item.image + '-small.webp 1x, ' +
                                                item.image + '-large.webp 2x';
                                        picture
                                            source(srcset=webpSrcSet type="image/webp")
                                            source(srcset=jpegSrcSet type="image/jpeg")
                                            img(
                                                src=`${item.image}-small.jpg`
                                                alt=item.title
                                            ).cart-form__product-img

                                    .cart-form__product-body
                                        a(
                                            href=item.link
                                        ).cart-form__product-title= item.title
                                        .cart-form__product-price
                                            | $#{item.price.toFixed(2)}

                            td.cart-form__cell
                                +input({theme: 'number'})(
                                    type="number"
                                    value=item.quantity
                                    name=`[${item.id}][qty]`
                                    min="0"
                                    size="4"
                                    step="1"
                                    aria-label="Quantity"
                                ).cart-form__qty

                            td.cart-form__cell
                                span.cart-form__subtotal
                                    | $#{(item.quantity*item.price).toFixed(2)}

                            td.cart-form__cell
                                a(
                                    href="javascript:void(0);"
                                    data-product-id=item.id
                                    role="button"
                                ).cart-form__remove Remove this item

            .cart-form__actions
                .cart-form__coupon
                    label.cart-form__coupon-label(
                        for="cart-coupon-code"
                        id="cart-coupon-code-label"
                    ) Coupon code
                    +input({theme: 'coupon'})(
                        type="text"
                        name="coupon_code"
                        placeholder="Coupon code"
                        id="cart-coupon-code"
                        aria-labelledby="cart-coupon-code-label"
                    ).cart-form__coupon-input
                    +btn().cart-form__coupon-apply(
                        name="apply_coupon"
                        value="Apply coupon"
                    ) Apply coupon
                // .cart-form__coupon 

                +btn({ type: 'submit' }).cart-form__submit(
                    name="update_cart"
                    value="Update Cart"
                ) Update Cart
            // .cart-form__actions 
        // .cart-form__inner 
